#container {
  height: 600px;
  width: 400px;
  background-color: #512da8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.list {
  margin: 15px 0;
  max-height: 26vh;
  min-height: 26vh;
  overflow: overlay;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list > li {
  margin-bottom: 6px;
  padding: 5px;
  background-color: #673ab7;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.list > li:hover {
  background-color: #351d6d;
  transition: 0.5s;
}

.btn {
  width: 100%;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #673ab7;
  color: white;
  height: 40px;
  border-radius: 8px;
  margin-top: 10px;
  transition: 0.5s;
  font-weight: bold;
  font-size: large;
}

button:hover {
  background-color: #351d6d;
  transition: 0.5s;
  cursor: pointer;
}

h1 {
  color: white;
  text-align: center;
  cursor: default;
}

p {
  font-size: 25px;
  color: white;
  text-align: center;
  cursor: default;
  font-weight: 500;
}

input {
  border-radius: 8px;
  height: 45px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding-left: 10px;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin-bottom: 20px;
}
